body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px; /* Décale le contenu sous la navbar */
}

/* Barre de navigation */
.navbar {
    background: linear-gradient(to right, #ffffff, #ffffff);
    padding: 15px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 16px;
    padding: 10px 15px;
    transition: 0.3s;
}

.navbar ul li a:hover,
.navbar ul li a.active {
    color: #000;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}